
core/cache

# ignore all .htaccess
# .htaccess

# ignore all IIS files
# web.config

# ignore all config.core.php
# config.core.php

# ignore all config.context.php
# config.context.php

# ignore various IDE project files and folders
.idea/
.buildpath
.project
.coverage/
.settings/
nbproject/

# ignore php and txt files beginning with test in root directory
/test*.php
/test*.txt

# ignore mac files
.DS_Store

# ignore grunt files
bower_components
node_modules
.sass-cache
*.css.map
*.js.map

# ignore composer files
composer.phar
#composer.json
# composer.lock

# ignore composer vendor dir
#/vendor

# ignore phpunit cache files
.phpunit.result.cache